{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>HELPZ - Free Charity Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">


    </head>

    <body>
        
        {% block content %}

        {% include 'home/learn_about.html' %}

        {% include 'home/facts.html' %}

        {% include 'home/team.html' %}

        {% include 'home/testimonial.html' %}

        {% endblock %}


    </body>
</html>
